{{! Module 15 Project 2: Note Taker - Homepage }}

<div>
  {{#each notes}}

    <div class="container note-container">
      <div class="note-detail">
        <div class="col-md-2">
          <h3>
            Note ID:
          </h3>
        </div>
        <div class="col-md-10">
          <p>
            <a href="/note/{{id}}">{{id}}</a>
          </p>
        </div>
        
      </div>

      <div class="note-detail">
        <div class="col-md-2">
          <h3>
            Title:
          </h3>
        </div>
        <div class="col-md-10 ">
           <p> {{note_title}} </p>
        </div> 
      </div>

      <div class="note-detail">
        <div class="col-md-2">
          <h3>
            Description:
          </h3>
        </div>
       <div class="col-md-10">
        <p> {{note_body}} </p>
       </div>
      </div>

      <div class="note-detail">
        <div class="col-md-2">
          <h3>
            Category:
          </h3>
        </div>
        <div class="col-md-10">
          <p> {{category_name}} </p>
        </div>
      </div>

    </div>

  {{/each}}
</div>