{{! Module 15 Project 2: Note Taker - Homepage }}

<div>
  {{#each notes}}

    <div class="note-container">
      <div class="note-detail">
        <h3>
          Note ID
        </h3>
        <a href="/note/{{id}}">{{id}}</a>
      </div>

      <div class="note-detail">
        <h3>
          Note Title
        </h3>
        <p> {{note_title}} </p>
      </div>

      <div class="note-detail">
        <h3>
          Note Body
        </h3>
        <p> {{note_body}} </p>
      </div>

      <div class="note-detail">
        <h3>
          Category
        </h3>
        <p> {{category_id}} </p>
        {{!-- <p> {{category_id.category_name}} </p> --}}
      </div>

    </div>

  {{/each}}
</div>